element.style {
    margin: 0px;
    background: #c23737;
    height: 100%;
}

body {
    display: block;
    margin: 8px;
    background-image: url("../img/wave.svg");
    background-color: rgb(240, 82, 87);
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    text-align: center;
}

@media only screen and (min-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
@media only screen and (min-width: 600px) {
    header {
       background-color: blue;
}

}